<div class="gh-flow">
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
            <header>
                <h1>Welcome to <strong>Ghost</strong>!</h1>
                <p>Seems you are not logged in RC, or you are not the part of Ghost.</p>
            </header>

            <figure class="gh-flow-screenshot">
                <img src="assets/img/login_icon.png" alt="Ghost screenshot" />
            </figure>
                <p>Click on Article icon to enter Ghost.</p>
        </section>
    </div>
</div>